* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 375px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 400px;
  }
  h1 {
    font-size: 24px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header-logo img.logo {
    width: 300px;
  }
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% auto;
      grid-template-columns: 45% auto;
  grid-gap: 10px;
}

.grid-container-header .header-profile {
  margin: 0 auto;
  padding-top: 80px;
}

.grid-container-header .header-profile h1 {
  font-size: 96px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: caption1 0.6s ease forwards;
          animation: caption1 0.6s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes caption1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes caption1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.grid-container-header .header-profile h2 {
  font-size: 48px;
  opacity: 0;
  -webkit-animation: caption2 1s ease forwards;
          animation: caption2 1s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.grid-container-header .header-profile h2 #strong-text {
  font-weight: 600;
}

@-webkit-keyframes caption2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes caption2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.grid-container-header .header-logo {
  position: relative;
}

.grid-container-header .header-logo img {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: logo 0.6s ease forwards;
          animation: logo 0.6s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.grid-container-header .header-logo .imgFrontEndDev {
  position: absolute;
  position: fixed;
  right: 0;
  top: 550px;
  z-index: -1;
  opacity: 0;
  -webkit-animation: imgFrontend 8s ease forwards;
          animation: imgFrontend 8s ease forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes imgFrontend {
  0% {
    opacity: 1;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-290%);
            transform: translateX(-290%);
  }
}

@keyframes imgFrontend {
  0% {
    opacity: 1;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-290%);
            transform: translateX(-290%);
  }
}

.grid-container-header .header-logo p {
  position: absolute;
  position: fixed;
  right: 0;
  top: 550px;
  z-index: -1;
  opacity: 0;
  -webkit-animation: text1 20s ease forwards;
          animation: text1 20s ease forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes text1 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-240%);
            transform: translateX(-240%);
  }
}

@keyframes text1 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-240%);
            transform: translateX(-240%);
  }
}

.section-portfolio {
  margin-top: 100px;
  padding-top: 60px;
}

.section-portfolio h3 {
  font-size: 48px;
  font-weight: 500;
}

.section-portfolio .project-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-row-gap: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 60px;
}

.section-portfolio .project-portfolio a.portfolio-item {
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 10px 50px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.section-portfolio .project-portfolio a.portfolio-item:hover {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.section-portfolio .project-portfolio .bg-red {
  background-color: #DD8787;
}

.section-portfolio .project-portfolio .bg-orange {
  background-color: #DDA687;
}

.section-portfolio .project-portfolio .bg-blue {
  background-color: #87C3DD;
}

.section-skills {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 60px;
}

.section-skills h3 {
  font-size: 48px;
  font-weight: 500;
}

.section-skills .skill-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.section-skills .skill-content .skill-items {
  text-align: center;
}

.section-skills .skill-content .skill-items h5 {
  font-size: 36px;
  font-weight: 400;
}

.section-skills .skill-content .skill-items img {
  padding-top: 16px;
}

.section-skills .skill-content .skill-items .skill-html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 20px;
  height: 260px;
  background-color: #DDA687;
  border-radius: 0 0 6px 6px;
}

.section-skills .skill-content .skill-items .skill-css {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 20px;
  height: 220px;
  background-color: #DDA687;
  border-radius: 0 0 6px 6px;
}

.section-skills .skill-content .skill-items .skill-javascript {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 20px;
  height: 130px;
  background-color: #DDA687;
  border-radius: 0 0 6px 6px;
}

.section-skills .skill-content .skill-items .skill-design {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 20px;
  height: 260px;
  background: #DDA687;
  border-radius: 0 0 6px 6px;
}

.section-skills .active {
  opacity: 1;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.section-contact {
  margin-top: 200px;
  padding-top: 60px;
}

.section-contact h3 {
  font-size: 48px;
  font-weight: 500;
}

.section-contact .contact-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 46px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding-top: 100px;
}

footer {
  margin-top: 100px;
  padding-top: 20px;
  margin-bottom: 256px;
}

footer .copyright {
  font-size: 24px;
  font-weight: 500;
  color: #B1B1B1;
}
/*# sourceMappingURL=style.css.map */